.myForm{
    width: 300px;
    padding-top: 40px;
    /* margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
}

button{
    margin-top: 3%;
    display: block;
}

.form-sub-group {
    margin-left: 10%
}
.container{
    /* border: 1px solid black; */
}

.btn{
    margin-right: 10px;
}

.form-control {
  margin-top:-5px;
  width: auto;
  /* border-color: #FFC107; */
  /* box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px; */
	/* margin:0px; */
    /* -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;  */
	outline: none;	
  
}

label {
  margin-top:10px;
}

textarea {
    width: auto;
}

#errorMessage {
    color: red;
}
/* .container {
    border-style: outset;
} */
 .required{
	color:red;}